{% load static %}
{% load cart_template_tags %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ADHEMIX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel='shortcut icon' href="{% static 'assets/img/12.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets/img/12.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %} ">
</head>

<body>

    <!-- Preloader Start -->
    <div class="ft-preloader active">
        <div class="ft-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="ft-child ft-bounce1"></div>
            <div class="ft-child ft-bounce2"></div>
            <div class="ft-child ft-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Header Start -->
        <header class="header header-default site-header">
            <div class="header__outer">
                <div class="header__inner header--fixed">
                    <div class="container">
                        <div class="header__main">
                            <div class="header__col header__left">
                                <a href="{% url 'adhemix_app:index' %}" class="logo">
                                    <figure class="logo--normal">
                                        <img src="{% static 'assets/img/logo/logo.png' %}" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="header__col header__center">
                                <nav class="main-navigation d-none d-lg-block">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="{% url 'adhemix_app:index' %}" class="mainmenu__link">Home</a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="{% url 'adhemix_app:about' %}" class="mainmenu__link">About Us</a>
                                            <div class="inner-menu">
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="{% url 'adhemix_app:why_us' %}">Why Us</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'adhemix_app:about' %}">Vision and Mission</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="#" class="mainmenu__link">Product</a>
                                            <div class="inner-menu">
                                                <ul class="sub-menu">
                                                    <li class="has-children">
                                                        <a href="#">Tile Grouting</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="{% url 'adhemix_app:shop' %}">Tile Epoxy</a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'adhemix_app:shop' %}">Grout</a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'adhemix_app:shop' %}">Grout Hardner</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Tile Adhesive</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">Adhemix Blend</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Adhemix Floor
                                                                    Adheive</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Adhemix Wall
                                                                    Adhesive</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">Adhemix Front
                                                                    Adhesive</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Tile Care</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">Adhemix Cleaner</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="#" class="mainmenu__link">Services</a>
                                            <div class="inner-menu">
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="{% url 'adhemix_app:my_account' %}">Product Purchase</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'adhemix_app:checkout' %}">Redeem Copoun</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children position-relative">
                                            <a href="#" class="mainmenu__link">Contact Us</a>
                                            <div class="inner-menu">
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="{% url 'adhemix_app:contact' %}">For Distributorship </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'adhemix_app:contact' %}">For Retailing</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'adhemix_app:contact' %}">Company Details</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header__col header__right">

                            {% if request.user.is_authenticated %}

                                <div class="toolbar-item d-none d-lg-block">
                                    <a href="{% url 'adhemix_app:logout' %}" class="toolbar-btn">
                                        <span>Logout</span>
                                    </a>
                                </div>

                                <div class="toolbar-item d-block d-lg-none">
                                    <a href="#offcanvasnav" class="hamburger-icon js-toolbar menu-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>

                                <div class="toolbar-item">
                                    <a href="{% url 'adhemix_app:wishlist' %}" class="toolbar-btn">
                                        <i class="flaticon-heart"></i>
                                    </a>
                                </div>

                                <div class="toolbar-item">
                                    <a href="{% url 'adhemix_app:cart' %}" class="toolbar-btn">
                                        <span class="mini-cart-btn__icon">
                                            <i class="flaticon-bag"></i>
                                        </span>
                                        <sup class="mini-cart-btn__count">
                                            {{ request.user|cart_item_count }}
                                        </sup>
                                    </a>
                                </div>

                            {% else %}

                                <div class="toolbar-item d-none d-lg-block">
                                    <a href="{% url 'adhemix_app:login' %}" class="toolbar-btn">
                                        <span>Login</span>
                                    </a>
                                </div>

                                <div class="toolbar-item d-block d-lg-none">
                                    <a href="#offcanvasnav" class="hamburger-icon js-toolbar menu-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>

                                <div class="toolbar-item d-none d-lg-block">
                                    <a href="{% url 'adhemix_app:register' %}" class="toolbar-btn">
                                        <span>Register</span>
                                    </a>
                                </div>

                            {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-sticky-height"></div>
            </div>
        </header>
        <!-- Header End -->

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible py-3 fade show" role="alert">
              <strong>Message: </strong> {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
    {% endif %}

        {% block content %}
        
        {% endblock content %}

                <div class="row ptb--20">
                    <div class="col-12 text-center">
                        <div class="social space-10">
                            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"
                                class="social__link">
                                <i class="fa fa-facebook"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"
                                class="social__link">
                                <i class="fa fa-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"
                                class="social__link">
                                <i class="fa fa-linkedin"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
                                class="social__link">
                                <i class="fa fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
                                class="social__link">
                                <i class="fa fa-youtube"></i>
                                <span class="sr-only">Youtube</span>
                            </a>
                            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
                                class="social__link">
                                <i class="fa fa-pinterest"></i>
                                <span class="sr-only">Pinterest</span>
                            </a>
                        </div>
                    </div>
                </div>
        <!-- Footer Start-->
        <footer class="footer bg-color pt--20 pt-xs--20" data-bg-color="#f4f8fa">
            <div class="container">
                <div class="row border-bottom pb--20 pb-sm--8 pb-xs--20">
                    <div class="col footer-column-1 mb-sm--20">
                        <div class="footer-widget">
                            <div class="address-widget">
                                <figure class="footer-logo mb--10">
                                    <img src="{% static 'assets/img/11.png' %}" style="width:180px;" alt="Logo">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col footer-column-2 mb-md--33">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--15">Quick links</h3>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Management</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Event</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'adhemix_app:contact' %}">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Contact Us</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'adhemix_app:about' %}">
                                        <i class="fa fa-angle-right"></i>
                                        <span>About Us</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'adhemix_app:about' %}">
                                        <i class="fa fa-angle-right"></i>
                                        <span>Privacy Policy</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col footer-column-1 pt--60 mb-sm--20">
                        <div class="footer-widget">
                            <div class="address-widget">
                            <h3 class="widget-title mb--35 mb-sm--15">Contact Details</h3>
                                <address>Kh.No-154/296/297 <br>Ground Floor Pooth Khurd<br> Delhi-110039 (India)</address>
                                <a href="tel:+84112345678">1800 890 6474</a>
                                <a href="mailto:info@company.com">support@adhemix.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col footer-column-3 mb-sm--33">
                        <div class="footer-widget">
                            <div class="address-widget">
                                <img src="{% static 'assets/img/swachh_bharat.png'%}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'assets/img/make_in_india.png'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ptb--20">
                    <div class="col-12 text-center">
                        <p class="copyright-text">Adhemix &copy; 2020 all rights reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End-->

        <!-- OffCanvas Menu Start -->
        <aside class="offcanvas-navigation" id="offcanvasnav">
            <div class="offcanvas-navigation__inner">
                <a href="" class="btn-close">
                    <i class="flaticon-cross"></i>
                    <span class="sr-only">Close Offcanvas Navigtion</span>
                </a>
                <div class="offcanvas-navigation__top">
                    <ul class="offcanvas-menu">
                        <li class="has-children">
                            <a href="{% url 'adhemix_app:index' %}">
                                <span class="mm-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'adhemix_app:about' %}">
                                <span class="mm-text">About Us</span>
                            </a>
                        </li>
                        <li class="has-children">
                            <a href="{% url 'adhemix_app:shop' %}">
                                <span class="mm-text">Product</span>
                            </a>
                        </li>
                        <li class="has-children">
                            <a href="{% url 'adhemix_app:not_found' %}">
                                <span class="mm-text">Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'adhemix_app:contact' %}">
                                <span class="mm-text">Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- OffCanvas Menu End -->
        <div class="global-overlay"></div>
        <a class="scroll-to-top" href=""><i class="fa fa-angle-double-up"></i></a>

    </div>
    
    <script src="{% static 'assets/js/vendor.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>