{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- Main Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="error-area pt--90 pt-xl--70 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8">
                           <h1>About Us</h1>
                                <p>ADHEMIX is a new leading enterprise among the world in the tile ADHESIVE
                                industry. Ensure the long term competitiveness and sustainability of the company
                                through scientific research, innovation, and design and information technology.</p>

                                <p>WE ARE MANUFACTURERS AND TRADERS OF WIDE RANGE OF TILE&#39;S AND
                                STONE FIXING SOLUTION LIKE ADHESIVE, EPOXY, GROUT, GROUT
                                HARDNER, TILE CLEANER &amp; STONE RANGE PRODUCTS FOR TILES &amp; STONE
                                FIXING RANGE.</p>

                                <h3>CUSTOMER SATISFACTION<h3>
                                <p>ADEMIX is dedicated to provide and maintain highest quality standards with its products
                                and services. The commitment to innovation enables ADHEMIX to not only satisfy
                                current demands, but also anticipate future expectations. All ADEMIX solutions are
                                designed with the customers’ success in mind and to build long lasting and mutually
                                beneficial relationships rather than focus on short-term business.</p>

                                <h3>SUSTAINABILITY</h3>
                                <p>In the area of sustainability, ADHEMIX focuses on answering the concerns of clients
                                about the environment, giving them high-quality products with the added value of
                                respect for the environment and the protection of human health.</p>

                                <h3>DURABILITY</h3>
                                <p>ADHEMIX IS USED FOR buildings as well as for industrial applications ADHEMIX aims
                                to enhance durability and improve both energy and material efficiency. The company
                                keeps making every effort to contribute to reducing resource consumption both within
                                the company as well as for its partners who trust in ADHEMIX products.</p>

                                <h3>INNOVATION</h3>
                                <p>Innovation is a key element in ADHEMIX processes and product development
                                strategy. ADHEMIX has an R&amp;D Department whose mission is to research and
                                develop new technology to create installation and maintenance, as well as other
                                applications for its materials; constantly bearing in mind innovation in finishes and
                                formats. Investment in R+D+I is aimed at providing solutions in line with the latest
                                market trends, applying the most advanced technology FOR OUR PRODUCT LINE.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Wrapper End -->

{% endblock content %}
