{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Compare</h1>
                        <ul class="breadcrumb">
                            <li><a href="{% url "adhemix_app:index" %}">Home</a></li>
                            <li class="current"><span>Compare</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->
        
        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80 ptb-md--60">
                <div class="container">
                    <div class="row">
                        <div class="col-12" id="main-content">
                            <div class="table-content table-responsive">
                                <div class="table-content table-responsive">
                                    <table class="table compare-table">
                                        <tbody>
                                            <tr>
                                                <th>Product Info</th>
                                                <td>
                                                    <div class="remove">
                                                        <a href="">
                                                            <i class="la la-remove"></i>
                                                        </a>
                                                    </div>
                                                    <a href="{% url "adhemix_app:product_details" %}" class="d-block">
                                                        <div class="image-wrap">
                                                            <img src="{% static 'assets/img/products/product-11-70x88.jpg' %}"
                                                                alt="Product">
                                                        </div>
                                                        <h4 class="product-name">Golden Easy Spot Chair.</h4>
                                                    </a>
                                                    <a href="{% url "adhemix_app:cart" %}" class="btn btn-size-md">Add to cart</a>
                                                </td>
                                                <td>
                                                    <div class="remove">
                                                        <a href="">
                                                            <i class="la la-remove"></i>
                                                        </a>
                                                    </div>
                                                    <a href="{% url "adhemix_app:product_details" %}" class="d-block">
                                                        <div class="image-wrap">
                                                            <img src="{% static 'assets/img/products/product-12-70x88.jpg' %}"
                                                                alt="Product">
                                                        </div>
                                                        <h4 class="product-name">Golden Easy Spot Chair.</h4>
                                                    </a>
                                                    <a href="{% url "adhemix_app:cart" %}" class="btn btn-size-md">Add to cart</a>
                                                </td>
                                                <td>
                                                    <div class="remove">
                                                        <a href="">
                                                            <i class="la la-remove"></i>
                                                        </a>
                                                    </div>
                                                    <a href="{% url "adhemix_app:product_details" %}" class="d-block">
                                                        <div class="image-wrap">
                                                            <img src="{% static 'assets/img/products/product-13-70x88.jpg' %}"
                                                                alt="Product">
                                                        </div>
                                                        <h4 class="product-name">Golden Easy Spot Chair.</h4>
                                                    </a>
                                                    <a href="{% url "adhemix_app:cart" %}" class="btn btn-size-md">Add to cart</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Price</th>
                                                <td>
                                                    <span class="product-price-wrapper">
                                                        <span class="money">$159.00</span>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="product-price-wrapper">
                                                        <span class="money">$159.00</span>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="product-price-wrapper">
                                                        <span class="money">$159.00</span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Sku</th>
                                                <td>REF. LA-887</td>
                                                <td>REF. LA-887</td>
                                                <td>REF. LA-887</td>
                                            </tr>
                                            <tr>
                                                <th>Description</th>
                                                <td class="text-center">Donec accumsan auctor iaculis. Sed suscipit arcu
                                                    ligula, at egestas… </td>
                                                <td class="text-center">Donec accumsan auctor iaculis. Sed suscipit arcu
                                                    ligula, at egestas… </td>
                                                <td class="text-center">Donec accumsan auctor iaculis. Sed suscipit arcu
                                                    ligula, at egestas… </td>
                                            </tr>
                                            <tr>
                                                <th>Availability</th>
                                                <td>In stock</td>
                                                <td>In stock</td>
                                                <td>In stock</td>
                                            </tr>
                                            <tr>
                                                <th>Weight</th>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                            </tr>
                                            <tr>
                                                <th>Dimensions</th>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

{% endblock content %}
