{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Contact Us</h1>
                        <ul class="breadcrumb">
                            <li><a href="{% url "adhemix_app:index" %}">Home</a></li>
                            <li class="current"><span>Contact Us</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->
        
        <!-- Main Content Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="page-content-inner pt--75 pt-md--55">
                <!-- Contact Area Start -->
                <section class="contact-area mb--75 mb-md--55">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 mb-sm--30">
                                <div class="heading mb--32">
                                    <h2>Get In Touch</h2>
                                    <hr class="delimeter">
                                </div>
                                <div class="contact-info mb--20">
                                    <p>
                                        <i class="fa fa-map-marker"></i>
                                        <span>221b Baker St, Marylebone <br>London NW1 6XE, UK</span>
                                    </p>
                                    <p>
                                        <i class="fa fa-phone"></i>
                                        <span>+1-202-242-8157</span>
                                    </p>
                                    <p>
                                        <i class="fa fa-fax"></i> 
                                        <span>+1-202-501-1829</span>
                                    </p>
                                    <p>
                                        <i class="fa fa-clock-o"></i> 
                                        <span>Mon – Fri : 9:00 – 18:00</span>
                                    </p>
                                </div>
                                <div class="social social-rounded space-10">
                                    <a href="https://www.facebook.com" class="social__link">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="https://www.twitter.com" class="social__link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.plus.google.com" class="social__link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7 offset-lg-1">
                                <div class="heading mb--40">
                                    <h2>Contact Us</h2>
                                    <hr class="delimeter">
                                </div>
                                <form action="mail.php" class="form" id="contact-form">
                                    <input type="email" name="con_email" id="con_email" class="form__input mb--30" placeholder="Email*">
                                    <input type="text" name="con_name" id="con_name" class="form__input mb--30" placeholder="Name*">
                                    <textarea class="form__input form__input--textarea mb--30" placeholder="Message" id="con_message" name="con_message"></textarea>
                                    <button type="submit" class="btn btn-shape-round form__submit">Send Request</button>
                                    <div class="form__output"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Contact Area End -->

                <!-- Google Map Area Start -->
                <div class="google-map-area">
                    <div id="google-map"></div>
                </div>
                <!-- Google Map Area End -->
            </div>
        </main>
        <!-- Main Content Wrapper End -->

{% endblock content %}

