  {% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Shop Fullwidth</h1>
                        <ul class="breadcrumb">
                            <li><a href="{% url 'adhemix_app:index' %}">Home</a></li>
                            <li class="current"><span>Shop Fullwidth</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="shop-page-wrapper shop-fullwidth ptb--80">
                <div class="container">
                    <div class="row mb--50">
                        <div class="col-12">
                            <div class="shop-toolbar">
                                <div class="row align-items-center">
                                    <div class="col-md-5 mb-sm--30 mb-xs--10">
                                        <div class="shop-toolbar__left">
                                            <div class="product-ordering">
                                                <select class="product-ordering__select nice-select">
                                                    <option value="0">Default Sorting</option>
                                                    <option value="1">Relevance</option>
                                                    <option value="2">Name, A to Z</option>
                                                    <option value="3">Name, Z to A</option>
                                                    <option value="4">Price, low to high</option>
                                                    <option value="5">Price, high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="shop-toolbar__right">
                                            <p class="product-pages">Showing 10 Results</p>

                                            <div class="product-view-mode ml--50 ml-xs--0">
                                                <a class="active" href="#" data-target="grid">
                                                    <img src="{% static 'assets/img/icons/grid.png' %}" alt="Grid">
                                                </a>
                                                <a href="#" data-target="list">
                                                    <img src="{% static 'assets/img/icons/list.png' %}" alt="Grid">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid shop-products">
                    <div class="row">

                    {% for item in object_list %}

                        <div class="col-xl-3 col-md-4 col-sm-6 mb--50">
                            <div class="payne-product">
                                <div class="product__inner">
                                    <div class="product__image">
                                        <figure class="product__image--holder">
                                            <img src="{{item.image.url}}" alt="Product">
                                        </figure>
                                        <a href="{{item.get_absolute_url}}" class="product__overlay"></a>
                                        <div class="product__action">
                                            <a href="{% url 'adhemix_app:add_to_wishlist' item.slug %}" class="action-btn">
                                                <i class="fa fa-heart-o"></i>
                                                <span class="sr-only">Add to wishlist</span>
                                            </a>
                                            <a href="{{item.get_add_to_cart_url}}" class="action-btn">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span class="sr-only">Add To Cart</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="product__info">
                                        <div class="product__info--left">
                                            <h3 class="product__title">
                                                <a href="{{item.get_absolute_url}}">{{item.title}}</a>
                                            </h3>
                                            <div class="product__price">
                                                <span class="money">Rs. {{item.price}}</span>
                                            </div>
                                        </div>
                                        <div class="product__info--right">
                                            <span class="product__rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    </div>
                    {% comment %} <div class="row">
                        <div class="col-12">
                            <nav class="pagination-wrap mt--35 mt-md--25">
                                <ul class="pagination">
                                    <li><span class="page-number current">1</span></li>
                                    <li><a href="#" class="page-number">2</a></li>
                                    <li><span class="dot"></span></li>
                                    <li><span class="dot"></span></li>
                                    <li><span class="dot"></span></li>
                                    <li><a href="#" class="page-number">16</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

{% endblock content %}

