{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- Main Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="error-area pt--90 pt-xl--70 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8">
                        <h1>WHY CHOOSE US</h1>
                            <p>We differentiate ourselves from competitors by offering our customers:</p>
                            <ol>
                            <h3><li>Knowledgeable Industry experts</li></h3>
                            <p>You can be assured you receive advice and knowledge that is backed up by the many years of experience and professional training of the people behind our products.</p>
                            <h3><li>Exclusive product lines</li></h3>
                            <p>Our size, reputation and service orientated commitment is the foundation in exclusively securing some of the most trendsetting, unique and highly desired range OF PRODUCTS.</p>
                            <h3><li>Committed and personalized service</li></h3>
                            <p>ADHEMIX staff have a wealth of experience & industry knowledge and are dedicated to helping you produce quality projects using the best PRODUCTS, at the best price, every time.</p>    
                        </ol>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Wrapper End -->

{% endblock content %}
