{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Breadcrumb area Start -->
            <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="page-title">Wishlist</h1>
                            <ul class="breadcrumb">
                                <li><a href="{% url 'adhemix_app:index' %}">Home</a></li>
                                <li class="current"><span>Wishlist</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb area End -->

            <!-- Main Content Wrapper Start -->
            <div class="main-content-wrapper">
                <div class="page-content-inner ptb--80 ptb-md--60">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-content table-responsive">
                                    <table class="table table-style-2 wishlist-table text-center">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th class="text-left">Product</th>
                                                <th>Stock Status</th>
                                                <th>Price</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="product-remove text-left"><a href=""><i
                                                            class="flaticon-cross"></i></a></td>
                                                <td class="product-thumbnail text-left">
                                                    <img src="{% static 'assets/img/products/product-11-70x88.jpg' %}"
                                                        alt="Product Thumnail">
                                                </td>
                                                <td class="product-name text-left wide-column">
                                                    <h3>
                                                        <a href="{% url 'adhemix_app:shop' %}">Pinstripe slim-fit suit blazer</a>
                                                    </h3>
                                                </td>
                                                <td class="product-stock">
                                                    In Stock
                                                </td>
                                                <td class="product-price">
                                                    <span class="product-price-wrapper">
                                                        <span class="money">$49.00</span>
                                                    </span>
                                                </td>
                                                <td class="product-action-btn">
                                                    <a href="{% url 'adhemix_app:cart' %}" class="btn">Add to cart</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="product-remove text-left"><a href=""><i
                                                            class="flaticon-cross"></i></a></td>
                                                <td class="product-thumbnail text-left">
                                                    <img src="{% static 'assets/img/products/product-12-70x88.jpg' %}"
                                                        alt="Product Thumnail">
                                                </td>
                                                <td class="product-name text-left wide-column">
                                                    <h3>
                                                        <a href="{% url 'adhemix_app:shop' %}">Warm Shaker Solid Wood End Table</a>
                                                    </h3>
                                                </td>
                                                <td class="product-stock">
                                                    In Stock
                                                </td>
                                                <td class="product-price">
                                                    <span class="product-price-wrapper">
                                                        <span class="money">$49.00</span>
                                                    </span>
                                                </td>
                                                <td class="product-action-btn">
                                                    <a href="{% url 'adhemix_app:cart' %}" class="btn">Add to cart</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="product-remove text-left"><a href=""><i
                                                            class="flaticon-cross"></i></a></td>
                                                <td class="product-thumbnail text-left">
                                                    <img src="{% static 'assets/img/products/product-13-70x88.jpg' %}"
                                                        alt="Product Thumnail">
                                                </td>
                                                <td class="product-name text-left wide-column">
                                                    <h3>
                                                        <a href="{% url 'adhemix_app:shop' %}">Atlin Designs Mid Century Club
                                                            Chair</a>
                                                    </h3>
                                                </td>
                                                <td class="product-stock">
                                                    In Stock
                                                </td>
                                                <td class="product-price">
                                                    <span class="product-price-wrapper">
                                                        <span class="money">$49.00</span>
                                                    </span>
                                                </td>
                                                <td class="product-action-btn">
                                                    <a href="{% url 'adhemix_app:cart' %}" class="btn">Add to cart</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="product-remove text-left"><a href=""><i
                                                            class="flaticon-cross"></i></a></td>
                                                <td class="product-thumbnail text-left">
                                                    <img src="{% static 'assets/img/products/product-11-70x88.jpg' %}"
                                                        alt="Product Thumnail">
                                                </td>
                                                <td class="product-name text-left wide-column">
                                                    <h3>
                                                        <a href="{% url 'adhemix_app:shop' %}">Contemporary 5-Light Large
                                                            Chandelier</a>
                                                    </h3>
                                                </td>
                                                <td class="product-stock">
                                                    In Stock
                                                </td>
                                                <td class="product-price">
                                                    <span class="product-price-wrapper">
                                                        <span class="money">$49.00</span>
                                                    </span>
                                                </td>
                                                <td class="product-action-btn">
                                                    <a href="{% url 'adhemix_app:cart' %}" class="btn">Add to cart</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Main Content Wrapper Start -->



{% endblock content %}
