{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Breadcrumb area Start -->
            <section class="page-title-area bg-color" data-bg-color="#f4f4f4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="page-title">Wishlist</h1>
                            <ul class="breadcrumb">
                                <li><a href="{% url 'adhemix_app:index' %}">Home</a></li>
                                <li class="current"><span>Wishlist</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb area End -->

            <!-- Main Content Wrapper Start -->
            <div class="main-content-wrapper">
                <div class="page-content-inner ptb--80 ptb-md--60">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-content table-responsive">
                                    <table class="table table-style-2 wishlist-table text-center">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>Product</th>
                                                <th>Stock Status</th>
                                                <th>Price</th>
                                                <th>discount price</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in wishlist_items.items.all %}
                                            <tr>
                                                <td class="product-remove"><a href="{% url 'adhemix_app:remove_from_wishlist' item.slug %}"><i
                                                            class="flaticon-cross"></i></a></td>
                                                <td class="product-thumbnail">
                                                    <img src="{{item.image.url}}"
                                                        alt="Product Thumnail">
                                                </td>
                                                <td class="product-name wide-column">
                                                    <h3>
                                                        <a href="{{item.get_absolute_url}}">{{item.title}}</a>
                                                    </h3>
                                                </td>
                                                <td class="product-stock">
                                                    In Stock
                                                </td>
                                                <td class="product-price">
                                                    <span class="product-price-wrapper">
                                                        <span class="money">Rs. {{item.price}}</span>
                                                    </span>
                                                </td>

                                                {% if item.item.discount_price %}
                                                    <td class="product-price">
                                                        <span class="product-price-wrapper">
                                                            <span class="money">{{item.item.discount_price}}</span>
                                                        </span>
                                                    </td>
                                                {% else %}
                                                    <td class="product-price">
                                                        <span class="product-price-wrapper">
                                                            <span class="money">0</span>
                                                        </span>
                                                    </td>
                                                {% endif %}

                                                <td class="product-action-btn">
                                                    <a href="{% url 'adhemix_app:add_to_cart' item.slug %}" class="btn">Add to cart</a>
                                                </td>
                                            </tr>

                                            {% empty %}
                                                    <tr>
                                                        <td colspan="7">Your Wishlist is Empty</td>
                                                    </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                <div class="row no-gutters border-top pt--20 mt--20">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6 text-sm-right">
                                        <a href="{% url 'adhemix_app:shop' %}" class="btn btn-primary float-right">Continue Shopping</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Main Content Wrapper Start -->



{% endblock content %}
